<div id="welcomeInfo">
@Html.ActionLink("View Mobile Version", "ViewMobileSite", "Home", new { }, new {  })

@if(Request.IsAuthenticated) {
    <text>
    Welcome <strong>@User.Identity.Name</strong>! 
    @Html.ActionLink("Log Off", "LogOff", "Account") 
    </text> 
}
else {
    @: @Html.ActionLink("Log In", "LogOn", "Account") 
}
</div>