<div data-role="footer" data-position="fixed" >
	<div data-role="navbar">
		<ul>
			<li><a href="/Mobile/SelectUniversity" data-theme="b" data-ajax="false">Create</a></li>
            <li><a data-theme="b" href="tel:+7654644729">(765)464-4729</a></li>
			<li>@Html.ActionLink("View Full Website", "ViewFullSite", "Mobile", new { }, new { @data_theme = 'b', @data_ajax="false" } ) </li>
            
		</ul>
	</div><!-- /navbar -->
</div> 
<!-- /footer -->