<div data-role="footer" data-position="fixed" >
	<div data-role="navbar">
		<ul>
			<li><a href="/Mobile/MyProfile" data-theme="b" data-icon="gear" data-iconpos="top" data-ajax="false">Settings</a></li>
            <li><a href="/Mobile/MyOrders" data-theme="b" data-icon="bars" data-iconpos="top" data-ajax="false">MyOrders</a></li>
            <li><a href="/Mobile/Cart" data-theme="b" data-icon="grid" data-iconpos="top" data-ajax="false">ShoppingCart</a></li>
			<li><a href="/Mobile/FAQ" data-theme="b" data-icon="info" data-iconpos="top" data-ajax="false">FAQ</a></li>
            
		</ul>
	</div><!-- /navbar -->
</div> 
<!-- /footer -->