<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/Mobile/MyProfile" data-theme="b" data-icon="gear" data-iconpos="top">Profile</a></li>
            <li><a href="/Mobile/MyOrders" data-theme="b" data-icon="grid" data-iconpos="top">Orders</a></li>
			<li><a href="/Mobile/FAQ" data-theme="b" data-icon="info" data-iconpos="top">FAQ</a></li>
            <li><a href="/Account/LogOff" data-theme="b" data-icon="forward" data-iconpos="top">LogOut</a></li>
		</ul>
	</div><!-- /navbar -->
</div> 
<!-- /footer -->