@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="lightBox row">
<div class="span3" style="text-align:center">
<img src="../../Content/Images/errorimg.png" />
</div>
<div class="span7">
<h2>
    We'are sorry...
</h2>
<p>An error occurred while processing your request.</p>
<p><a href="mailto:support@mylunchbox.com">support@mylunchbox.com</a></p>
<p><a href="/" class="btn btn-primary">Return to Hompage</a></p>
</div>
</div>