@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<div class="lightBox">
<div class="row">
<div class="span3">
<img src="../../Content/Images/bowls.png" />
</div>
<div class="span4">
<h3>Congratulation</h3>
<p>Your password has been changed successfully.</p>
<a href="/CustomBentoBox/ChooseRestaurant/" class="btn btn-primary btn-big">Create a Lunchbox Now!</a>
</div>
</div>
</div>