@charset "UTF-8";
/* CSS Document */

.hicbg{
	background:#c84c0b url(Images/texture-orange.png);
}
.ui-body-a, body.ui-overlay-a {
	background:url(Images/bodybg.jpg);
}
.ui-input-text {
	background:#efefef;
}
.responsiveImg {
	max-width:100%;
}
#welcomeInfo {
	padding:10px 0 0 0;
	zoom:1;
	display:inline-block;
}
.ui-shadow {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ui-li-thumb {
}
.createBentoProgress {
	clear:both;
	float:none;
	height:60px;
	margin:0 0 10px;
	padding-left:0;
}
.createBentoProgress li{
	float:left;
	list-style:none;
	margin-right:2px;
	position:relative;
}
.createBentoProgress li a {
	width:60px;
	height:34px;
	padding:26px 0 0;
	border-radius:30px;
	display:inline-block;
	text-align:center;
	font-size:0.7em;
	text-decoration:none;
	color:#fff!important;
	text-shadow:none;
	background:url(Images/texture-brown.jpg);
	font-weight:normal!important;
}
.createBentoProgress li .current {
	background:url(Images/texture-darkgreen.jpg);
	-moz-box-shadow:2px 2px 0 #495013;
	-webkit-box-shadow:2px 2px 0 #495013;
	box-shadow:2px 2px 0 #495013;
	
}
.createBentoProgress li .prev {
	background:url(Images/texture-orange.png);
	-moz-box-shadow:2px 2px 0 #6e2804;
	-webkit-box-shadow:2px 2px 0 #6e2804;
	box-shadow:2px 2px 0 #6e2804;
	color:#fff1d5!important;
	text-shadow:2px 1px 0 #813005;
	font-style:italic;
}
.createBentoProgress .ui-icon {
	display:block;
	position:absolute;
	left:22px;
	top:7px;
}
h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#3d281e;
	font-style:italic;
}
.createBentoProgress .ui-icon-edit {
	background:url(Images/icons-18-white.png) -824px 0;
}
.createBentoProgress .ui-icon-check {
	background:url(Images/icons-18-white.png) -252px 50%;
}
.price {
	background:#5c7e04;
	border-radius:5px;
	color:#FFF;
	text-shadow:none;
	padding:2px 5px;
	display:inline-block;
}
.course .ui-icon-check {
}
.course.selected .ui-icon-check {
	background-color:#5c7e04;
}
.course.selected h4 {
	color:#5c7e04;
}
.selected {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{a-bup-background-start}*/), to( #efefef /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #ddd /*{a-bup-background-start}*/, #efefef /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #ddd /*{a-bup-background-start}*/, #efefef /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #ddd /*{a-bup-background-start}*/, #efefef /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #ddd /*{a-bup-background-start}*/, #efefef /*{a-bup-background-end}*/);
	background-image: linear-gradient( #ddd /*{a-bup-background-start}*/, #efefef /*{a-bup-background-end}*/);
}
.ui-listview .ui-bar-a {
	background:url(Images/texture-orange.png);
	border:none;
}
.courseTyepTd {
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#ab3306;
	font-style:italic;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  color:#3d281e;
}
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.lunchbox-emptyItem {
	color:#999;
}
.lunchbox-dishimg {
	width:30px;
	height:30px;
	border-radius:6px;
}
#warningMsg.alert-block{
	border-radius:10px;
	border:none;
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	padding:0.2em 1em;
}
#warningMsg.alert-success {
	background-color:#d2e6c7;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e2f2da /*{a-bup-background-start}*/), to( #bbd5ae /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
}
#warningMsg.alert-warning {
	background-color:#f3d76d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f8edc5 /*{a-bup-background-start}*/), to( #f3d76d /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
}
#warningMsg.alert-error {
	background-color:#f3d76d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f2c4c2 /*{a-bup-background-start}*/), to( #da8d89 /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
}
#warningMsg.alert-success strong {
	color:#415806;
}
#warningMsg.alert-warning strong {
	color:#c0952d;
}
#warningMsg.alert-error strong {
	color:#932a02;
}
#warningMsg p {
	margin:0.5em 0;
}