@charset "UTF-8";
/* CSS Document */

.hicbg{
	background:#c84c0b url(Images/texture-orange.png);
}
.ui-body-a, body.ui-overlay-a {
	background:url(Images/bodybg.jpg);
}
.ui-input-text {
	background:#efefef;
}
.responsiveImg {
	max-width:100%;
}
#welcomeInfo {
	padding:10px 0 0 0;
	zoom:1;
	display:inline-block;
}
.ui-shadow {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.ui-li-thumb {
}
.createBentoProgress {
	clear:both;
	float:none;
	height:90px;
	margin:0;
	padding-left:0;
}
.createBentoProgress li{
	float:left;
	list-style:none;
	margin-right:2px;
	position:relative;
}
.createBentoProgress li a {
	width:60px;
	height:34px;
	padding:26px 0 0;
	border-radius:30px;
	display:inline-block;
	text-align:center;
	font-size:0.7em;
	text-decoration:none;
	color:#fff!important;
	text-shadow:none;
	background:url(Images/texture-brown.jpg);
	font-weight:normal!important;
}
.createBentoProgress li .current {
	background:url(Images/texture-darkgreen.jpg);
	-moz-box-shadow:2px 2px 0 #495013 inset;
	-webkit-box-shadow:2px 2px 0 #495013 inset;
	box-shadow:2px 2px 0 #495013 inset;
	
}
.createBentoProgress li .prev {
	background:url(Images/texture-orange.png);
	-moz-box-shadow:2px 2px 0 #6e2804;
	-webkit-box-shadow:2px 2px 0 #6e2804;
	box-shadow:2px 2px 0 #6e2804;
	color:#fff1d5!important;
	text-shadow:2px 1px 0 #813005;
	font-style:italic;
}
.createBentoProgress .ui-icon {
	display:block;
	position:absolute;
	left:22px;
	top:7px;
}
h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#3d281e;
	font-style:italic;
}
.createBentoProgress .ui-icon-edit {
	background:url(Images/icons-18-white.png) -824px 0;
}
.createBentoProgress .ui-icon-check {
	background:url(Images/icons-18-white.png) -252px 50%;
}
.price {
	background:#c84c0b;
	border-radius:5px;
	color:#FFF;
	text-shadow:none;
	padding:2px 5px;
	display:inline-block;
}
.course .ui-icon-check {
	display:none;
}
.course.selected .ui-icon-check {
	background-color:#c84c0b;
	display:block;
}
.course.selected h4 {
	color:#c84c0b;
}
.selected {
background-image: -webkit-gradient(linear, left top, left bottom, from( #fef3de /*{a-bup-background-start}*/), to( #e5dcc9 /*{a-bup-background-end}*/));
background-image: -webkit-linear-gradient( #fef3de /*{a-bup-background-start}*/, #e5dcc9 /*{a-bup-background-end}*/);
background-image: -moz-linear-gradient( #fef3de /*{a-bup-background-start}*/, #e5dcc9 /*{a-bup-background-end}*/);
background-image: -ms-linear-gradient( #fef3de /*{a-bup-background-start}*/, #e5dcc9 /*{a-bup-background-end}*/);
background-image: -o-linear-gradient( #fef3de /*{a-bup-background-start}*/, #e5dcc9 /*{a-bup-background-end}*/);
background-image: linear-gradient( #fef3de /*{a-bup-background-start}*/, #e5dcc9 /*{a-bup-background-end}*/);
}
.selected:active,.selected:focus {
	

}
.selected:active h4,.selected:focus h4{
	color:#FFF;
}
.ui-listview .ui-bar-a {
	background:url(Images/texture-orange.png);
	border:none;
}
.courseTyepTd {
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#ab3306;
	font-style:italic;
}
.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  color:#3d281e;
}
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.lunchbox-emptyItem {
	color:#999;
}
.lunchbox-dishimg {
	width:30px;
	height:30px;
	border-radius:6px;
	vertical-align:middle;
}
#warningMsg.alert-block{
	border-radius:10px;
	border:none;
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	padding:0.2em 1em;
}
#warningMsg.alert-success {
	background-color:#d2e6c7;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e2f2da /*{a-bup-background-start}*/), to( #bbd5ae /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
	background-image: linear-gradient( #e2f2da /*{a-bup-background-start}*/, #bbd5ae /*{a-bup-background-end}*/);
}
#warningMsg.alert-warning {
	background-color:#f3d76d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f8edc5 /*{a-bup-background-start}*/), to( #f3d76d /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
	background-image: linear-gradient( #f8edc5 /*{a-bup-background-start}*/, #f3d76d /*{a-bup-background-end}*/);
}
#warningMsg.alert-error {
	background-color:#f3d76d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f2c4c2 /*{a-bup-background-start}*/), to( #da8d89 /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -moz-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -ms-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: -o-linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
	background-image: linear-gradient( #f2c4c2 /*{a-bup-background-start}*/, #da8d89 /*{a-bup-background-end}*/);
}
#warningMsg.alert-success strong {
	color:#415806;
}
#warningMsg.alert-warning strong {
	color:#c0952d;
}
#warningMsg.alert-error strong {
	color:#932a02;
}
#warningMsg p {
	margin:0.5em 0;
}
.lunchbox-filledItem .ui-btn {
	vertical-align:middle;
}
.lunchbox-filledItem {
	vertical-align:middle;
}
#lunchbox {
	margin-left:0;
	padding-left:0;
	margin-top:0;
}
#lunchbox li {
	list-style:none;
	margin-left:0;
	margin-bottom:5px;
}
.lunchbox-emptyItem.lunchbox-Drink {
	display:none;
}
.input-mini {
	width:2em;
	line-height:1.5em;
	border-radius:5px;
}
.lunchbox-filledPrice {
	color:#5c7e04;
}
#shoppingCartItems p {
	margin:0 0 5px;
}
#shoppingCartItems ul {
	margin:0;
	padding-left:0;
}
#shoppingCartItems li {
	list-style:none;
	vertical-align:middle;
	margin-bottom:.2em;
}
#shoppingCartItems li img {
	vertical-align:middle;
}
#shoppingCartItems .ui-input-text {
	margin-top:0;
	width:2em;
	padding-right:.5em;
}
.cart-boxType {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#ab3306;
	font-style:italic;
}
th {
	color: #6a594e;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-style: italic;
}
.table {
	border-collapse:collapse;
	width:100%;
}
.table th,.table td {
	text-align:left;
	vertical-align:top;
	padding:.5em;
}
.table th {
	font-weight:normal;
}
.table tr {
	border-top: 1px solid #dcdbd3;
}

.lightBox {
	background: url(Images/texture-white.jpg);
	border-radius: 10px;
	padding:.5em;
	margin-bottom: 1em;
}
.cart-totalPrice, .cart-subtotalPrice {
	color: #c84c0b;

}
.cart-subtotal {
	color: #6a594e;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-style: italic;
}
.cart-subtotalPrice {
	font-size:1.4em;
}

.ui-collapsible-heading table
{
    font-style:normal;
    font-weight:normal;
    font-size:12px;
}
#checkoutSummary 
{
    display:block;
}
#checkoutSummary th
{
    width:90%;
    text-align:right;
}
label.ui-input-text{
	background:none;
	color: #6a594e;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-style: italic;
}
.ui-collapsible h3 {
	margin:5px 0;
}
em {
	color: #c84c0b;
	font-size: 1.2em;	
}
#checkoutSummary td {
	font-weight:normal;
}
#FinalAmount {
	font-size:1.4em;
	font-style:italic;
}
.cart-savingPrice {
	color:#5c7e04 ;
}
.ui-panel-inner img {
	max-width:90%;
}
.field-validation-error {
	color:#c84c0b;
	font-size:1.2em;
	font-weight:bold;
}
.restaurantClosed .ui-li-count {
	background:#b60606;
	border:1px solid #b60606;
}
.restaurantClosed .ui-li-heading {
	color:#777;
}
.ui-listview>.ui-li {
	border-bottom-width:0;
}
.ui-listview>.ui-li:last-child {
	border-bottom-width:1px;
}
.createBentoProgress {
margin:0 auto;
width:290px;
}
.lightButton {
	margin:-15px -15px 0;
	padding:15px 0 10px;
	background:url(Images/texture-white2.jpg);
	border:1px solid #a69782 /*{a-bup-border}*/;
}
.ui-listview-inset .lightButton {
	margin:0;
}
.ui-bar-a {
	border-color:#a4410e;
}
.restaurantOpen .ui-icon-arrow-r {
	background-color:#5c7e04;
}
.orangeCount {
	background:#c84c0b;
	border-color:#d8741d;
}
.cart-dishList li {
	border-bottom:1px dotted #cec5ae;
}
.cart-dishList li:last-child {
	border-bottom:none;
}
.cart-dishCount {
	color:#7c6556;
}
.cart-dishCount:before {
	content:'x';
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5) and (max-width : 320px),
only screen and (min-device-pixel-ratio : 1.5) and (max-width : 320px),
only screen and (max-width : 320px)
{
/* Styles */
.shoppingCartItemsImg {
	  display:none;
  }
}