@model MyLunchBox.Models.Order
@{
    ViewBag.Title = "CheckoutComplete";
    Layout = "~/Views/Shared/_MobileMemberMaster.cshtml";
}

<div data-role="content">
<p>Thanks for your order! <br />Your order number is: <em>@Model.OrderId</em></p>
<p><a class="btn btn-primary btn-big" href="/Mobile/MyOrders">View Orders</a> </p>
</div>