@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MobileMaster.cshtml";
}  
<div data-role="content">
<h3 style="text-align:center">We're Sorry!</h3>
<div class="lightBox">
<p>An error occurred while processing your request.</p>
<ul data-role="listview">
<li><a href="mailto:support@mylunchbox.com">support@mylunchbox.com</a></li>
<li><a href="/mobile/" class="btn btn-primary">Return to Hompage</a></li>
</ul>
<p style="text-align:center">
<img src="../../Content/Images/errorimg.png" />
</p>
</div>
</div>
<div data-role="footer" data-position="fixed">
    <div data-role="navbar">
		<ul>
			<li><a data-theme="b" href="tel:+1800229933">400(817-6363)</a></li>
			<li><a href="/" data-theme="b" data-ajax="false">View Full Website</a></li>
		</ul>
	</div><!-- /navbar -->
</div> 