@model IEnumerable<MyLunchBox.Models.University>

@{
    ViewBag.Title = "Select University";
    Layout = "~/Views/Shared/_MobileMemberMaster.cshtml";
}

<div data-role="content">
@using (Html.BeginForm("ChooseRestaurant", "Mobile", FormMethod.Get, new { id = "chooseRestaurant" }))
{
    <label for="universityId" class="select">Your University:</label>
    <select name="universityId" id="universityId">
        @foreach (var university in Model)
        {
        <option value="@university.UniversityId">@university.UniversityName</option>
        }
    </select>
    <input type="submit" value="Next" data-role="button" data-ajax="false" data-theme="b" data-icon="arrow-r" data-iconpos = "right"/>
}
</div>

